<mat-card class="card">

    <iframe src="https://www.instagram.com/p/BtDxkFPh70W/embed" width="400" height="700" frameborder="0" scrolling="no"
        allowtransparency="true"></iframe>
</mat-card>

<mat-card class="card">

    <iframe src="https://www.instagram.com/p/BtDxkFPh70W/embed" width="400" height="700" frameborder="0" scrolling="no"
        allowtransparency="true"></iframe>
</mat-card>

<mat-card class="card">

    <iframe src="https://www.instagram.com/p/BtDxkFPh70W/embed" width="400" height="700" frameborder="0" scrolling="no"
        allowtransparency="true"></iframe>
</mat-card>